* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    min-height: 100vh;
    background: url("adminfund.PNG") no-repeat center center / cover;
}
.fund-wrapper {
    min-height: 100vh;
    padding: 40px 60px;
   
    position: relative;
}


.fund-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
}

.fund-row {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.fund-row label {
    width: 280px;
    font-size: 20px;
    font-weight: bold;
}

.fund-row input {
    width: 260px;
    height: 32px;
    padding: 5px 8px;
    font-size: 14px;
    margin-right: 60px;
}


.fund-row button {
    width: 140px;
    height: 34px;
    font-size: 16px;
    cursor: pointer;
}

.fund-actions {
    margin-top: 70px;
}

.show-btn {
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
}

.back-btn {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.back-btn button {
    padding: 8px 30px;
    font-size: 15px;
    cursor: pointer;
}
