* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: url("adminstudentreg.jpg") no-repeat center center / cover;
}

.main {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.35);
    padding: 40px 80px;
}


.astudentregtitle {
    color: #fff;
    font-size: 30px;
    margin-bottom: 35px;
}


.astudentreg-form {
    width: 60%;
}


.astudentregform {
    display: flex;
    margin-bottom: 22px;
}


.astudentregform label {
    width: 220px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.field {
    display: flex;
    flex-direction: column;
}


.field input {
    width: 360px;
    height: 34px;
    padding: 6px 10px;
    border: none;
    outline: none;
    font-size: 14px;
}


.astudentregerror {
    margin-top: 5px;
    font-size: 13px;
    color: #ff4d4d;
}


.astudentregbuttons {
    margin-top: 35px;
    margin-left: 220px;
    display: flex;
    gap: 35px;
}


.astudentregbuttons a {
    text-decoration: none;
    display: inline-block;
}


.astudentregbuttons button {
    padding: 10px 28px;
    background: black;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.astudentregbuttons button:hover {
    opacity: 0.85;
}
